<h1>Add Review Restaurant</h1>
    <from action="" method="post">
    {% csrf_token %}
        <a>Input name of restaurant : 
            <input type="text" name="get_res" /> <br /></a>
        <br>
        <a>Input Date :
            <input type="date" name="get_date" /> <br /></a>
        <br>
        <a>Input text of review :
            <textarea wrap="virtual" name="get_review" rows="20" cols="70"></textarea>
        <br>
        <br>
         <a>Input point of restaurant (1-5) :
            <input type="text" name="get_point" /> <br /></a>
        <br>
    
    </h1>
    </from>
    <input type="submit" value="Submit" />