<head><h1>{{res.restaurant_text}}</h1></head>
<body>
        {% for menu in res.menu_set.all %}
            <li><a> {{menu.menu_text}} {{menu.price_text}}</a></li>
            <br>
        {% endfor %}
        <br>
        {% for review in review %}
        <table width=90% style="border:1px dashed #ffaacc;" cellspacing="5" bgcolor="#ffaacc" cellpadding="5"><tr><td style="border:1px dashed white;" bgcolor="white">
        ชื่อ : {{review.1}} วันที่ : {{review.3}} <br>
        <br> {{review.2}} <br>
        <br> คะแนน : {{review.4}} คะแนน
        </td></tr></table>
        <br>
        {% endfor %}
</body>
</html>